html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a.link {
  font-size: 2em;
  color: rgb(0, 98, 148);
  text-transform: uppercase;
}

.navbar li {
  display: inline-block;
  list-style: none;
}

.tabs li a {
  border: 1.5px solid rgb(0,98,148);
  padding: 5px 5px 5px 5px;
  margin: 15px;
  font-weight: lighter;
  letter-spacing: .5em;
  font-size: 1em;
  box-shadow: 3px 3px rgba(0,0,0,.3);
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.tabs li a:hover {
  text-decoration: none;
  color: rgb(255,145,150);
  border: 1px solid rgb(255,145,150);
  box-shadow: 5px 5px rgba(0,0,0,.2);
}

.tabs li a:active {
  text-decoration: none;
  color: rgb(255,145,150);
  border: 1px solid rgb(255,145,150);
  box-shadow: 1px 1px rgba(0,0,0,.3);
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

.navbar ul{
  float: right;
  margin: 15px;
}

navbar-default, a.navbar-brand {
  font-family: 'Avenir', sans-serif;
  font-size: 2em;
  letter-spacing: .2em;
  color: rgb(255,145,150) !important;
  border-right: 1px solid rgb(0,98,148);
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.3s;
}

navbar-default, a.navbar-brand:hover {
  background-color: rgb(255,255,255);
  box-shadow: 4px 5px rgba(0,0,0,.2);
}

.navbar {
  border-bottom: 1px solid rgb(0,98,148);
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.3s;
}

.navbar:hover {
  box-shadow: 4px 4px rgba(0,0,0,.3);
}
